

    <div>
    <button class="btn" (click)="getComics()">See next comic</button>
    <button class="btn" (click)="getPreviousComic()">See previous comic</button>
    <form #simpleForm="ngForm" (ngSubmit)="getSearchedComic(simpleForm.value)"> 
      <input type="text" ngModel name="search" id="search" placeholder="Enter a comic number">
      <br>
      <button>Get comic</button>
    </form>
  </div>
    <mat-spinner *ngIf="showSpinner"></mat-spinner>
    <tr>{{comic.title}}</tr>
        <tr>
        <img class="comic" [src]="comic.img" />
      </tr> 
  
  